:root{
    --primaryColor: #FC0000;
    --bgcolor: #fff;
    --font: #fff;
    --bgcolor2: #F0F8FF;
    --shadesblack: #8282822e;
  }
  body{
    margin: 0px;
    padding: 0px;
    background-color: var(--bgcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  
  }
  #loading
  {
    width: 100%;
    height: 100vh;
    position: fixed;
    background:#fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
  }
  #loading-animation{
      border: 3px solid #d20a0a;
      border-radius: 48% 52% 57% 43% / 39% 47% 53% 61%;
      position: absolute;
      width: 29rem;
      height: 29rem;
      animation: temp 20s infinite;
  }
  #loading-text{
      font-size: 2rem;
  }
  @keyframes temp{
  
      0%{
        transform: rotate(0deg);
    
        border-radius: 52% 48% 55% 45% / 41% 54% 46% 59%   ;
      }
      25%{
        border-radius: 47% 53% 41% 59% / 47% 39% 61% 53%       ;
    
      }
      50%{
        transform: rotate(180deg);
        border-radius: 47% 53% 38% 62% / 47% 65% 35% 53%     ;
    
      }
    
    
      100%{
        transform: rotate(365deg);
    
        border-radius: 52% 48% 55% 45% / 41% 54% 46% 59% ;
    
      }
    }
  
/*--------------------------------------Header---------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0 2rem;
    height: 7rem;
    width: 100%;
    color: var(--primaryColor);
  }
  #logo{
    font-size: 1.7rem;
    font-weight: bold;
    font-size: 1.7rem;
    font-weight: bold;
    color: red;
    text-decoration: none;
  }
  #logoutBtn{
    width: 2rem;
  }
  h1{
    color: var(--primaryColor);
  }
main{
    height: calc(100vh - 7rem);
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  
}
label, b{
  color: rgba(231, 0, 0, 0.653);
  margin: 1.5rem 0 1rem 0;
}
input, button{
  height: 2.5rem;
  border-radius: 10px;
  padding: 0 1rem;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
}
button{
  margin: 2rem 0;
  width: 10rem;
  padding: 0 1rem;
font-size: 1rem;
}
button:hover{
  outline: 1px solid #000;
}


#upload::file-selector-button {
  color: #fff;
  padding: 0.5em;
  border: thin solid var(--primaryColor);
  background-color: var(--primaryColor);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0.2rem;
}
.account_button_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 8rem;
}